:host {
    display: block;
    background-color: var(--dark-bg);
    color: var(--light-text);
}

h1 {
    font-size: 8rem;
}

.btn {
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--tertiary);
        color: var(--dark-bg);
    }
}