<header class="app-header">
    <div class="d-flex w-100 justify-content-between align-items-center">

        <!-- IZQUIERDA: Logo + hamburguesa -->
        <div class="d-flex align-items-center">
            <!-- Botón hamburguesa SOLO visible en móviles -->
            <button class="btn btn-outline-light d-md-none me-2" (click)="toggleSidebar()">
                ☰
            </button>
            <a routerLink="/" class="logo text-light-text">AG</a>
        </div>

        <!-- DERECHA: Login o avatar -->
        <div class="auth-actions d-flex align-items-center">
            <a *ngIf="!isAuthenticated()" routerLink="/login" class="d-flex align-items-center">
                <i class="bi bi-box-arrow-in-right me-1"></i> Login
            </a>
            <ng-container *ngIf="isAuthenticated()">
                <div class="d-flex align-items-center gap-2">
                    <img *ngIf="userImage()" [src]="userImage()" alt="Avatar" class="rounded-circle" width="40"
                        height="40" />
                    <div class="d-flex flex-column align-items-end">
                        <a (click)="logout()" class="btn btn-sm d-flex align-items-center fw-semibold fs-6">
                            <i class="bi bi-box-arrow-left me-1"></i> Logout
                        </a>
                        <span>Hola {{ userName() }}</span>
                    </div>
                </div>
            </ng-container>
        </div>

    </div>
</header>