.app-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 60px);
    /* 60px porque header ocupa eso */
}

.main-content {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
}

@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
    }
}