.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 0.75rem;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
}

.btn-light {
    background-color: var(--light-text);
    color: var(--primary);
    border: none;
}

.btn-light:hover {
    background-color: var(--tertiary);
    color: white;
}

.btn-outline-light {
    color: var(--light-text);
    border-color: var(--light-text);
}

.btn-outline-light:hover {
    background-color: var(--light-text);
    color: var(--secondary);
}