<!-- Título -->
<header class="container-fluid d-flex align-items-center justify-content-center py-3">
    <h2 class="h4 m-0">{{ title }}</h2>
</header>

<!-- Secciones -->
<div class="container-fluid">
    <div class="row main-content gx-3 align-items-stretch">
        <!-- Columna izquierda: Diagrama + Descripción -->
        <div class="col-12 col-lg-8 d-flex flex-column h-100">
            <!-- Diagrama -->
            <section class="content-section d-flex justify-content-center align-items-center p-3 mb-3">
                <div class="diagram-wrapper w-100 h-100">
                    <app-microkernel-diagram></app-microkernel-diagram>
                </div>
            </section>

            <!-- Descripción -->
            <section class="description-section p-3 mb-3">
                <p>
                    La arquitectura microkernel es un enfoque en el diseño de sistemas operativos que se centra en
                    reducir el núcleo del sistema a sus funciones más básicas, delegando otros servicios a procesos que
                    operan en el espacio
                    de usuario. Esto incluye la gestión del espacio de direcciones, la gestión de procesos y la
                    comunicación entre
                    procesos (IPC). La arquitectura microkernel permite crear aplicaciones extensibles mediante la
                    adición de pequeños
                    plugins que amplían la funcionalidad del sistema. Además, se basa en dos componentes básicos: un
                    sistema core y sus módulos
                    plugin, donde el sistema core resuelve la problemática de la manera más mínima posible.
                </p>
            </section>
        </div>

        <!-- Columna derecha: Estructura -->
        <div class="col-12 col-lg-4 mb-3 h-100 p-3">
            <ng-container *ngIf="template">
                <app-file-structure [templateId]="template.id"></app-file-structure>
                <div class="d-flex flex-wrap justify-content-end gap-2 mt-3">
                    <app-update-template-button [templateId]="template.id"></app-update-template-button>
                    <app-download-template-button [templateId]="template.id"></app-download-template-button>
                </div>
            </ng-container>
        </div>
    </div>
</div>