.bg-dark-bg {
    background-color: var(--primary) !important;
}

.text-light-text {
    color: var(--light-text) !important;
}

.text-secondary {
    color: var(--tertiary) !important;
}

.logo-box {
    width: 60px;
    height: 60px;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 241, 243);
    color: var(--primary);
}