<!-- login.component.html -->
<div class="login container-fluid bg-dark-bg text-light-text min-vh-100 d-flex flex-column">

    <!-- Volver al inicio -->
    <div class="pt-4 ps-4">
        <a href="/" class="text-decoration-none text-light-text fw-medium"><strong>ArchGen</strong></a>
    </div>

    <!-- Contenido principal -->
    <div class="row flex-grow-1 d-flex align-items-center justify-content-center px-3">

        <!-- Columna izquierda: Información -->
        <div class="col-lg-6 mb-5 mb-lg-0 px-5 ">
            <div class="d-flex align-items-center mb-4">
                <div class="logo-box me-3">AG</div>
                <h1 class="h2 fw-bold m-0 ">ArchGen</h1>
            </div>
            <p class="fs-4 mb-3" style="color: var(--light-text);">
                Crea estructuras al instante sin configuración manual.
            </p>

            <p class="fs-4 mb-2" style="color: var(--tertiary);">
                Plantillas con carpetas y jerarquías claras.
            </p>

            <p class="fs-4" style="color: var(--light-text);">
                Guarda tus plantillas y vuelve a usarlas cuando quieras.
            </p>

        </div>

        <!-- Columna derecha: Login -->
        <div class="col-lg-5 d-flex justify-content-center">
            <clerk-sign-in></clerk-sign-in>
        </div>

    </div>

    <!-- Footer -->
    <footer class="py-3 mt-auto border-top">
        <div
            class="container d-flex flex-column flex-md-row justify-content-between align-items-center gap-3 px-4 text-light">

            <!-- Marca o mensaje opcional -->
            <span class="fw-bold">© 2025 ArchGen</span>

            <!-- Enlaces con íconos -->
            <div class="d-flex align-items-center gap-3 flex-wrap">
                <a href="https://gonzaloencinas.com/" target="_blank" rel="noopener noreferrer"
                    class="text-decoration-none text-light d-flex align-items-center gap-1">
                    <i class="bi bi-globe2"></i> Mi Sitio Web
                </a>
                <a href="https://github.com/dulphyj" target="_blank" rel="noopener noreferrer"
                    class="text-decoration-none text-light d-flex align-items-center gap-1">
                    <i class="bi bi-github"></i> GitHub
                </a>
            </div>

        </div>
    </footer>

</div>