<div class="container py-5" style="color: var(--light-text);">
    <h2 class="mb-4 text-center" style="color: var(--tertiary);">Contáctanos</h2>
    <form (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate class="mx-auto" style="max-width: 600px;">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="contact.name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="contact.email">
        </div>

        <div class="mb-3">
            <label for="message" class="form-label">Mensaje</label>
            <textarea class="form-control" id="message" name="message" rows="5" required
                [(ngModel)]="contact.message"></textarea>
        </div>

        <button type="submit" class="btn w-100" [disabled]="!contactForm.valid"
            style="background-color: var(--primary); color: white;">
            Enviar
        </button>
    </form>

    <span>Aún en desarrollo</span>

    <div *ngIf="submitted" class="alert alert-success mt-4 text-center">
        ¡Tu mensaje ha sido enviado correctamente!
    </div>
</div>