<!-- Título -->
<header class="container-fluid d-flex align-items-center justify-content-center py-3">
    <h2 class="h4 m-0">{{ title }}</h2>
</header>

<!-- Secciones -->
<div class="container-fluid">
    <div class="row main-content gx-3 align-items-stretch">
        <!-- Columna izquierda: Diagrama + Descripción -->
        <div class="col-12 col-lg-8 d-flex flex-column h-100">
            <!-- Diagrama -->
            <section class="content-section  d-flex justify-content-center align-items-center p-3 mb-3">
                <div class="diagram-wrapper w-100 h-100">
                    <app-cba-diagram></app-cba-diagram>
                </div>
            </section>

            <!-- Descripción -->
            <section class="description-section p-3 mb-3">
                <p>
                    La arquitectura basada en componentes (CBA) es un paradigma de diseño de software que se centra en
                    la creación de sistemas a partir de componentes reutilizables e independientes. Estos componentes
                    encapsulan funcionalidades específicas y se comunican entre sí a través de interfaces bien
                    definidas.
                    CBA promueve la modularidad, la reutilización de código y la facilidad de mantenimiento. Esto
                    permite
                    construir sistemas complejos de manera más eficiente y flexible.
                </p>
            </section>
        </div>

        <!-- Columna derecha: Estructura -->
        <div class="col-12 col-lg-4 mb-3 h-100 p-3">
            <ng-container *ngIf="template">
                <app-file-structure [templateId]="template.id"></app-file-structure>
                <div class="d-flex flex-wrap justify-content-end gap-2 mt-3">
                    <app-update-template-button [templateId]="template.id"></app-update-template-button>
                    <app-download-template-button [templateId]="template.id"></app-download-template-button>
                </div>
            </ng-container>
        </div>
    </div>
</div>