<div class="folder-wrapper">
    <div class="folder-indent">
        <div class="folder-editor">
            <span class="folder-icon">
                {{ folder.subFolders?.length ? '📂' : '📁' }}
            </span>

            <div class="folder-name"
                [ngStyle]="{ transform: 'scale(' + (1 - depth * 0.02) + ')', 'transform-origin': 'right top' }">
                <input type="text" [(ngModel)]="folder.name" placeholder="Nombre de carpeta" class="form-control"
                    title="Nombre de la carpeta" />
            </div>

            <div class="folder-description">
                <label type="text" title="Descripción del contenido de la carpeta">{{folder.description}}</label>
            </div>

            <button class="btn btn-add btn-sm" (click)="addSubfolder()"
                [title]="'Agregar subcarpeta a: ' + folder.name">
                <i class="bi bi-plus-lg"></i><span class="visually-hidden">.</span>
            </button>

            <button class="btn btn-danger btn-sm" (click)="removeSelf()" [title]="'Eliminar carpeta ' + folder.name">
                <i class="bi bi-recycle"></i><span class="visually-hidden">.</span>
            </button>
        </div>
    </div>

    <div *ngIf="folder.subFolders">
        <app-folder-editor *ngFor="let sub of folder.subFolders; let i = index" [folder]="sub" [depth]="depth + 3"
            (delete)="folder.subFolders?.splice(i, 1)">
        </app-folder-editor>
    </div>
</div>