<h2>Arquitectura Hexagonal</h2>
<ng-container *ngIf="template">
    <app-download-template-button [templateId]="template.id"></app-download-template-button>
    <app-update-template-button [templateId]="template.id"></app-update-template-button>
</ng-container>


<body>
    <div class="container">
        <!-- Hexágono Central -->
        <div class="hexagon central">
            <div class="content">
                <h2>Core Domain</h2>
                <p>Dominio Central</p>
            </div>
        </div>

        <!-- Puertos y Adaptadores -->
        <div class="port north">
            <div class="hexagon">
                <div class="content">
                    <h3>Puerto Norte</h3>
                    <p>Adaptador</p>
                </div>
            </div>
        </div>

        <div class="port east">
            <div class="hexagon">
                <div class="content">
                    <h3>Puerto Este</h3>
                    <p>Adaptador</p>
                </div>
            </div>
        </div>

        <div class="port south-east">
            <div class="hexagon">
                <div class="content">
                    <h3>Puerto Sureste</h3>
                    <p>Adaptador</p>
                </div>
            </div>
        </div>

        <div class="port south">
            <div class="hexagon">
                <div class="content">
                    <h3>Puerto Sur</h3>
                    <p>Adaptador</p>
                </div>
            </div>
        </div>

        <div class="port south-west">
            <div class="hexagon">
                <div class="content">
                    <h3>Puerto Suroeste</h3>
                    <p>Adaptador</p>
                </div>
            </div>
        </div>

        <div class="port west">
            <div class="hexagon">
                <div class="content">
                    <h3>Puerto Oeste</h3>
                    <p>Adaptador</p>
                </div>
            </div>
        </div>
    </div>
</body>