<!-- Título -->
<header class="container-fluid d-flex align-items-center justify-content-center py-3">
    <h2 class="h4 m-0">{{ title }}</h2>
</header>

<!-- Secciones -->
<div class="container-fluid">
    <div class="row main-content gx-3 align-items-stretch">
        <!-- Columna izquierda: Diagrama + Descripción -->
        <div class="col-12 col-lg-8 d-flex flex-column h-100">
            <!-- Diagrama -->
            <section class="content-section d-flex justify-content-center align-items-center p-3 mb-3">
                <div class="diagram-wrapper w-100 h-100">
                    <app-mvc-diagram></app-mvc-diagram>
                </div>
            </section>

            <!-- Descripción -->
            <section class="description-section p-3 mb-3">
                <p>
                    La arquitectura Modelo-Vista-Controlador (MVC) es un patrón de diseño de software que divide una
                    aplicación en tres
                    partes interconectadas: el Modelo (datos y lógica de negocio), la Vista (interfaz de usuario) y el
                    Controlador (gestiona
                    la interacción del usuario y actualiza el Modelo y la Vista). MVC promueve la separación de
                    responsabilidades, facilita
                    el desarrollo, la mantenibilidad y la escalabilidad. El Controlador recibe la entrada del usuario,
                    interactúa con el
                    Modelo para obtener o modificar datos, y luego actualiza la Vista para reflejar los cambios. Esta
                    separación permite que
                    múltiples Vistas utilicen el mismo Modelo, y facilita las pruebas unitarias.
                </p>
            </section>
        </div>

        <!-- Columna derecha: Estructura -->
        <div class="col-12 col-lg-4 mb-3 h-100 p-3">
            <ng-container *ngIf="template">
                <app-file-structure [templateId]="template.id"></app-file-structure>
                <div class="d-flex flex-wrap justify-content-end gap-2 mt-3">
                    <app-update-template-button [templateId]="template.id"></app-update-template-button>
                    <app-download-template-button [templateId]="template.id"></app-download-template-button>
                </div>
            </ng-container>
        </div>
    </div>
</div>