.btn-download-template {
    background-color: var(--primary);
    color: var(--light-text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: var(--tertiary);
        transform: translateY(-1px);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.icon-lg {
    font-size: 1rem;
}

.icon-rotate {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.highlighted {
    animation: pulse 1.5s infinite;
    border: 2px solid #ff9800;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 153, 0, 0.822);
    }

    70% {
        box-shadow: 0 0 0 30px rgba(255, 152, 0, 0);
    }

    100% {
        box-shadow: 0 0  0 rgba(25, 0, 255, 0);
    }
}