.btn-download-template {
    background-color: var(--primary);
    color: var(--light-text);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: var(--tertiary);
        transform: translateY(-1px);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.icon-lg {
    font-size: 1rem;
}

.icon-rotate {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}