.card {
    background-color: #6865658c;
    border-radius: 12px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-container {
    background-color: #6865658c;
    color: var(--light-text);
    border: 1px solid var(--primary);
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 3px 5px var(--primary);
}

.card-title {
    color: var(--light-text);
}

.btn{
    background-color: var(--tertiary);
    color: var(--light-text);
    border: none;
}